<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
<ion-header>
  <ion-navbar>
    <ion-title id="step1">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="openWalkthrough()">walkthrough</button>
  <p step1 >First step</p>
  <p id="step2">
    Second Step

  </p>
  <a href='http://example.com/' data-intro='Hello step one!'></a>
</ion-content>
